.priceFilter {
  margin-bottom: 50px;

  h2{
    margin-bottom: 15px;
  }

  input[type='number'] {
    width: 70px;
    margin-right: 20px;
    padding: 10px 10px;
    &::placeholder{
      color: rgba(128, 128, 128, 0.6);
    }
  }

  .reset{
    color: red;
    cursor: pointer;
    margin-left: -15px;
    font-weight: bolder;
  }

  input[type='button'] {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ababab;
    color: white;
    border: none;
    cursor: pointer;
    &:hover{
      background-color: pink;
    }
  }
}