.itemInCurt{

  border-spacing: 0 20px;
  .itemImg{
    width: 30%;
    @media screen and (max-width:600px) {
      width: unset;
    }
    img {
      max-width: 80px;
      @media screen and (max-width: 600px){
        max-width: 100%;
      }
    }
  }

  .itemTitle{
    max-width: 80px;
    a:hover{
      color: pink;
    }
  }

  .itemPrice{
    font-weight: bold;
  }

  .InCurt{
    user-select: none;
    .itemMinus, .itemPlus{
      padding: 8px 13px;
      background-color: pink;
      border-radius: 5px;
      margin: 15px;
      cursor: pointer;
      &.max, &.min{
        background-color: #cbcbcb;
        pointer-events: none;
      }
    }
  }

  .itemDelete span{
    background-color: #ff7690;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
      box-shadow: 0 0 15px 1px #ff3e61;
      transform: scale(1.1);
    }
  }
}