input[type=radio] + label {
    display: block;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    margin-bottom: 7px;
    border-radius: 50%;
}

input[type=radio] {
    display: none;
}

input[type=radio] + label:before {
    content: "";
    border: 2px solid #ffb8b8;
    border-radius: 50%;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.2em;
    margin-right: 15px;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=radio] + label:active:before {
    transform: scale(0);
}

input[type=radio]:checked + label:before {
    background-color: #ffb8b8;
    border-color: #ffb8b8;
}

input[type=radio]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=radio]:checked:disabled + label:before {
    transform: scale(1);
    opacity: 0.7;
}