
.promotions{
  padding: 20px 0;
  @media screen and (max-width: 768px) {
    padding: unset;
  }

  .promotions__block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .promotions__info {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 15%;
      @media screen and (max-width: 768px) {
        display: block;
        padding: 20px 10px;
        text-align: center;
      }

      .promotions__title{
        margin-bottom: 15px;
        font-family: 'sans-serif';
      }

      .promotions__text{
        width: 80%;
        margin-bottom: 20px;
        @media screen {
          width: 100%;
        }
      }


      .promotions__link{
        width: fit-content;
        border: 1px solid black;
        padding: 10px 20px;
        &:hover{
          background-color: #ffb8b8;
        }
        @media screen and (max-width: 468px){
          margin: 0 auto;
        }
      }



      .promotions__leave{
        position: absolute;
        z-index: -1;
        width: 30%;
        @media screen and (max-width: 768px){
          display: none;
        }

        &.leave1{
          top: 0;
          left: 0;
        }

        &.leave2{
          bottom: 0;
          right: 0;
        }



      }

    }
  }


}